body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh; 
}

.container {
  max-width: 1080px;
  max-height: 1920px;
  width: 100%;
  height: 100%;
  position: relative;
  orientation: portrait;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-center {
  text-align: center;
  padding-top: 10rem;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 15rem;
}

.button-column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E9E9E9;
  padding: 3.5rem 2rem 3rem 2rem;
  border-radius: 1rem;
}

.button-column h3 {
  margin-bottom: 1rem;
}

.btn {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  width: 235px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: default;
  font-size: 35px;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
}

.btn-primary {
  background-color: #08243C;
  color: #FFFFFF;
  border: none;
  border-radius: 100px;
}

/* .btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
} */

.btn-secondary {
  background-color: #FFFFFF;
  border-color: #08243C;
  color: #08243C;
  cursor: default;
  font-size: 35px;
  border-radius: 100px;
  padding: 1rem 2rem;
}

#backButton {
  margin-top: 25rem;
}

.icon-image {
  position: absolute;
  top: -27%;
  background-color: #FFFFFF;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#icon-option-hot {
  width:120px;
  height:120px;
}

#icon-option-cold {
  width:150px;
  height:150px;
}

#icon-option-normal {
  width:100px;
  height:130px;
}

h3 {
  font-size: 40px;
  color: #08243C;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
  
}

.modal-content {
  background-color: #f7f7f7;
  padding: 1rem 2rem 2rem 2rem;
  width: 700px;
  text-align: center;
  border-radius: 32px;
  box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0;
}

#modal-text {
  color: #08243C;
  font-size: 40px;
  font-weight: bold;
}

#modal-text-2 {
  display: none;
  font-family: "Figtree", sans-serif;
  color: #08243C;
  font-size: 25px;
  font-weight: bold;
  line-height: 0;
  margin: 0 ;
  padding-top: 2rem;
}

#modal-subtitle {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  color: #08243C;
  font-size: 25px;
}

#modal-subtitle-2 {
  display: none;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  color: #08243C;
  font-size: 25px;
}

.modal-action {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}


h1 {
  font-size: 60px;
}

#condition {
  padding-top: 5rem;
  font-size: 40px;
}