body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.container {
  max-width: 1080px;
  max-height: 1920px;
  width: 100%;
  height: 100%;
  position: relative;
  orientation: portrait;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}

.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 1s ease;
}

.slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.overlay-menu {
  background: linear-gradient(#FFFFFF, #FFFFFF90);
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  width: 100%;
  height: 33%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 10;
}

.overlay-menu p {
  margin: 0;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 1rem;
  color: #08243C;
}

.button-action-home {
  background-color: #08243C;
  color: #FFFFFF;
  border: none;
  width: 60%;
  border-radius: 5rem;
  padding: 2rem 2rem;
  cursor: default;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 1rem;
  letter-spacing: 1px;
}

.button-action-home:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  right:0;
  bottom: 0;
  width: 100%;
  height: 90%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
  align-items: center;

}

.modal-content {
  background-color: #f7f7f7;
  padding: 3rem 2rem 3rem 2rem;
  width: 700px;
  text-align: center;
  border-radius: 32px;
  box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0;
}

#modal-text {
  color: #08243C;
  font-size:60px;
  font-weight: bold;
}

#modal-text-2 {
  display: none;
  font-family: "Figtree", sans-serif;
  color: #08243C;
  font-size: 25px;
  font-weight: bold;
  line-height: 0;
  margin: 0;
  padding-top: 2rem;
}

#modal-subtitle {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  color: #ff0000;
  font-size: 60px;
  font-weight: bold;
}

#modal-subtitle-2 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  color: #ff0000;
  font-size: 25px;
}

.modal-action {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}